type lobos_os, domain;
type lobos_os_exec, exec_type, file_type, vendor_file_type;
init_daemon_domain(lobos_os)

allow lobos_os lobos_os_data_file:dir { create_dir_perms relabelfrom };
allow lobos_os lobos_os_data_file:file { create_file_perms execute execute_no_trans };
allow lobos_os lobos_os_data_file:file link;

allow lobos_os system_data_file:dir r_dir_perms;
allow lobos_os system_data_file:file r_file_perms;

allow lobos_os self:capability sys_admin;
allow lobos_os self:userns { create };
allow lobos_os self:mounton mounton;

allow lobos_os self:tcp_socket { create_socket_perms };
allow lobos_os self:udp_socket { create_socket_perms };
allow lobos_os self:unix_stream_socket { create_stream_socket_perms };
allow lobos_os port_type:tcp_socket name_bind;
