service lobos_os /system/bin/lobos-os
    class main
    user system
    group system inet
    capabilities SYS_ADMIN NET_BIND_SERVICE
    seclabel u:r:lobos_os:s0
    oneshot
    disabled

on property:sys.boot_completed=1
    start lobos_os
